POSTGRES_DB=pixels_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=XXXXXXXXX
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""

MAIL_USERNAME=username@example.com
MAIL_PASSWORD=paswword_to_email
MAIL_FROM=username@example.com
MAIL_PORT=465
MAIL_SERVER=smtp.example.com
MAIL_FROM_NAME="Education GoIT. Pixel proj"


CLOUDINARY_NAME=xxxxxxx
CLOUDINARY_API_KEY=yyyyyyyyyyyy
CLOUDINARY_API_SECRET=Jt_aaaaaaaaaa


HCAPTCHA_ENABLED = True
HCAPTCHA_SITE_KEY = "XXXXXXXX"
HCAPTCHA_SECRET_KEY = "ES_YYYYY"